<h1 class="display-3">On The Day</h1>
<p class="lead">Find people who are on the same day of #100DaysOfCode</p>

<%= render 'layouts/day_form' %>


<%= render 'layouts/tweets' %>


<% if !user_signed_in? %>
  <p class="text-center"><%= link_to 'Login with Twitter', user_twitter_omniauth_authorize_path %> to track your Day!</p>
<% end %>