<h1 class="display-3">On The Day</h1>
<p class="lead">Find people who are on the same day of #100DaysOfCode</p>

<%= render 'layouts/day_form' %>

<% if !@day.nil? %>
  <div id="search-results">
    <%= render 'layouts/tweets' %>
  </div>
<% end %>
