<div>
  <%= image_tag @user.avatar_url %>
  <%= @user.user_name %>
</div>

<% if !@day.nil? %>
  <p>I'm on Day <%= @day.to_i %> !</p>
  <div id="search-results">
    <%= render 'layouts/tweets' %>
  </div>
<% end %>
