/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootswatch/materia/variables';
@import 'bootstrap';
@import 'bootswatch/materia/bootswatch';

.navbar {
  margin-bottom: 2rem;
}

.notice-area {
  max-width: 500px;
  margin: 0 auto;
}

// Home

h1 {
  text-align: center;
}

.lead {
  font-size: 1.1rem;
  text-align: center;
}

// My Page
.user-info-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.avatar {
  border-radius: 24px;
  height: 48px;
  width: 48px;
}

.user-name {
  font-size: 1rem;
}

.current-day-display {
  font-size: 2rem;
  margin: 1rem;
}

.progress {
  border-radius: 3px;
  height: 15px;
  max-width: 500px;
  width: 100%;
}

.tweet-btn-area {
  margin-top: 1rem;
}

// Day Form
.day-form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

.day-select-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}

.im-on {
  min-width: 50%;
  padding: .5rem;
  text-align: center;
}

.btn-search {
  display: block;
  margin: .5rem 0;
  width: 100%;
}

.congrats {
  color: #e51c23; // The red used in Materia theme
  font-size: 1.2rem;
  text-align: center;
}

.first-time-guide {
  font-size: 1rem;
  text-align: center;
}

// Search Results

.search-results {
  align-items: center;
  display: flex;
  flex-direction: column;
}

// Footer

footer {
  text-align: center;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .form-group {
    margin: auto;
    width: 500px;
  }
}
