<div class="form-group">
  <%= form_tag(url_for(:action => 'home'), :class => 'day-form-container') do %>

    <div class="day-select-container">
      <div class="im-on">I'm on Day</div>
      <%= select_tag :day, options_for_select((0..100), @day),
                           :id => 'select-day',
                           :class => 'custom-select select-day' %>
    </div>
    <%= submit_tag 'Search Tweets', :class => 'btn btn-primary btn-search' %>
  <% end %>
</div>
