<div class="form-group">
  <%= form_tag(url_for(:action => 'search'), :id => 'day-form-container') do %>

    <div id="day-select-container">
      <div id="im-on">I'm on Day</div>
      <%= select_tag :day, options_for_select((0..100), @day), :id => 'select-day', :class => 'custom-select' %>
    </div>
    <%= submit_tag 'Search Tweets', :id => 'btn-search', :class => 'btn btn-primary' %>
  <% end %>
</div>
