<% if !@day.nil? %>
<% day_num = @day.to_i %>

  <div class="progress-dots">
    <% for i in 0..9 do %>
      <% dot_num_tens = i*10 %>
      <div class="dot <%= dot_color(day_num, dot_num_tens) %>"><%= dot_num_tens %></div>
      <% for j in 1..9 do %>
        <div class="small-dot <%= dot_color(day_num, dot_num_tens + j) %>"></div>
      <% end %>
    <% end %>
    <div class="dot <%= dot_color(day_num, 100) %>">100</div>
  </div>
<% end %>

        